.projects-card {
  position: relative;
  margin: 120px 0 180px 0;
}

.projects-card-content {
  padding: 80px 340px 50px 60px;
  width: 100%;
  background-color: white;
  border-radius: 20px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.projects-card-description {
  margin-bottom: 60px;
}

.card-title {
  margin-bottom: 40px;
}

.card-subtitle {
  margin-bottom: 10px;
}

.projects-card-img {
  position: absolute;
  top: -17%;
  left: 70%;
  z-index: 4;
  transition: .5s;
}

.projects-card-img:hover {
  transform: scale(1.08);
}

.content-ipad {
  padding: 80px 60px 50px 440px;
}

.img-ipad {
  top: -11%;
  left: 5%;
}

.iphone-frame {
  width: 250px;
}

.ipad-frame {
  width: 348px;
}

.overlay-sportify {
  position: absolute;
  width: 215px;
  height: 383px;
  line-height: 383px;
  left: 18px;
  top: 65px;
  background: linear-gradient(180deg, #78a8bde8 0%, rgba(219, 84, 97, 0.79) 100%);
  text-align: center;
  color: white;
  font-family: 'Pacifico', cursive;
  font-size: 50px;
  transition: .5s;
  z-index: 5;
}

.overlay-sportify:hover {
  opacity: 0;
}

.overlay-rent {
  position: absolute;
  width: 306px;
  height: 409px;
  line-height: 409px;
  left: 20px;
  top: 45px;
  background: linear-gradient(180deg, #78a8bde8 0%, rgba(229, 177, 129, 0.9) 100%);
  text-align: center;
  color: white;
  font-family: 'Work Sans', sans-serif;
  font-size: 40px;
  transition: .5s;
  z-index: 5;
}

.overlay-rent:hover {
  opacity: 0;
}

.iphone-frame-audibene {
  width: 265px;
}

.overlay-audibene {
  position: absolute;
  width: 227px;
  height: 405px;
  line-height: 405px;
  left: 19px;
  top: 69px;
  background: linear-gradient(180deg, #78a8bde8 0%, rgba(111, 194, 97, 0.9) 100%);
  text-align: center;
  font-size: 50px;
  transition: .5s;
  z-index: 5;
}

.overlay-audibene:hover {
  opacity: 0;
}

@media screen and (max-width: 800px) {
  .projects-card {
    margin: 40px 0 80px 0;
    display: flex;
    flex-direction: column;
  }
  .projects-card-content {
    padding: 1.5rem;
    order: 2;
    margin-top: -40px;
    z-index: 5;
  }
  .projects-card-img {
    order: 1;
    position: relative;
    top: 0;
    left: 0;
  }
  .projects-card-description {
    margin-bottom: 30px;
  }
  .frame-mobile {
    width: 100%;
    height: 40vh;
    border-radius: 20px;
  }
  .card-btn {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
  }

  .overlay-sportify {
    width: 100%;
    height: 40vh;
    top: 0px;
    left: 0;
    border-radius: 20px;
    line-height: 40vh;
    background: linear-gradient(180deg, #78a8bdd9 30%, rgba(219, 84, 97, 0.69) 100%);
  }
  .overlay-sportify:hover {
    opacity: 1;
  }
  
  .overlay-rent {
    width: 100%;
    height: 40vh;
    top: 0px;
    left: 0;
    border-radius: 20px;
    line-height: 40vh;
  }
  .overlay-rent:hover {
    opacity: 1;
  }

  .overlay-audibene {
    width: 100%;
    height: 40vh;
    top: 0px;
    left: 0;
    border-radius: 20px;
    line-height: 50vh;
  }
  .overlay-audibene:hover {
    opacity: 1;
  }
  .audibene-logo {
    width: 80%;
  }
}