.navbar {
  position: fixed;
  width: 100%;
  height: 80px;
  z-index: 1000;
  box-shadow: 0 3px 5px #F1F6F8;
  display: flex;
  align-items: center;
  background: #FFFFFF;
}

.nav-flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-name {
  font-size: 18px;
  font-weight: bold;
  letter-spacing: 5px;
}

.nav-sections .icon {
  display: none;
}

.burger {
  display: none;
  padding: .5rem;
  cursor: pointer;
}

.line {
  height: 2px;
  width: 35px;
  margin: .5rem 0;
  background: #020202;
  transition: transform .5s ease, opacity .5s ease;
}

.navbar.show .line1 {
  transform: translate(-10px) rotate(45deg) translate(15px);
}

.navbar.show .line2 {
  opacity: 0;
}

.navbar.show .line3 {
  transform: translate(-10px) rotate(-45deg) translate(15px);
}

.navbar.show .nav-links {
  transform: translateX(0%);
}

@media screen and (max-width: 800px) {
  .nav-links {
    width: 60%;
  }
  .nav-name a:hover {
    color: #78A8BD;
  }
}

@media screen and (max-width: 600px) {
  .nav-name {
    font-size: 16px;
  }
  .nav-link {
    padding: 20px 100px;
    border-bottom: 1px solid #7c7c7c;
  }
  .no-border {
    border-bottom: 0;
  }
  .burger {
    display: block;
  }
  .nav-links {
    position: fixed;
    top: 80px;
    right: 0;
    height: 30%;
    width: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    background: #ffff;
    transform: translateX(100%);
    transition: transform 1s ease;
    box-shadow: 0px 7px 8px rgba(0,0,0,0.2);
  }
}